// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product {
  // width: 400px;
  // height: 400px;
  // display: block;

  img.card-img-top {
  }
}

nav.navbar {
  class = "navbar navbar-inverse bg-primary"
}

ul.centre{
  class = "nav nav-tabs";

  li.item {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
  }
}
